@import "./styles/variables.css";

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #0f172a;
}

.p-card {
  border-radius: 12px;
}

.p-button-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
